.lista-contenedorgeneral{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
    width: 95%;
    height: 600px;
}

button{

    border: 0;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    height: 30px;
    width: 70px;

   
}
#add{
    background-color: #06A77D;
   }
#edit{
    background-color: #005377;
}   

#delete{
    background-color: crimson;
}


.input-contenedor{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.inputprincipal{

    &:focus{
    background-color: #F1A208;
    }
}